@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Monaspace Xenon";
    src: url("../public/xenon.otf") format("opentype");
  }
  body {
    @apply bg-white text-black dark:bg-blue-600 dark:text-white;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Monaspace Xenon", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
